/Cliente/target/
/RUDMarket/target/
/RUDMarket/android/.idea/
/RUDMarket/spring-social/spring-social.iml
/MavenEnterpriseApp/MavenEnterpriseApp-ear/target
/MavenEnterpriseApp/MavenEnterpriseApp-ejb/target
/MavenEnterpriseApp/MavenEnterpriseApp-web/target