
root {
    display: block;
}
html { height: 100% }
body {
    margin:0; padding:2%;
    font-family:Verdana,sans-serif;
    font-size:small;
    background:white;
    width:100%;
    min-width:750px;
    max-width:1220px;
}

.header-container {
    text-align: center;
    width: 100%;
}

.topnav {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    text-align: center;
    text-decoration: none;
    background-color: rgb(254, 163, 129);
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
}

.topnav a:hover {
    background-color: rgb(253, 130, 81);
}

.topnav a.active {
    background-color: rgb(253, 130, 81);
}

.btn-group-nav .button {
    background-color: rgb(223, 237, 214);
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin: auto;
}

.btn-group-nav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group-nav .button:hover {
    background-color: rgb(174, 222, 148);
}

.btn-group-nav .button:active {
    background-color: rgb(174, 222, 148);
}

footer {
    width:100%;
    font-size:110%;
    margin:2em;
    padding:1em;
    clear: both;
}