.app-header {
    height: 60px;
    position: relative;
    z-index: 10;
}

.app-title {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
    color: rgb(253, 130, 81);
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0,0,0,0.65);
}

.app-nav ul li a:hover {
    color: rgb(253, 130, 81);
}

.app-nav ul li a.active {
    color: rgb(253, 130, 81);
}

.app-header .container .btn-group-nav .button {
    background-color: rgb(223, 237, 214);
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin: auto;
}

.app-header .container .btn-group-nav .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.app-header .container .btn-group-nav .button:hover {
    background-color: rgb(174, 222, 148);
}

.app-header .container .btn-group-nav .button:active {
    background-color: rgb(174, 222, 148);
}