*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# iOS
.DS_Store
Pods/
Podfile.lock
xcuserdata/
*.xcworkspace/

# Android
google-services.json
